@page "/"
@inject ICommandService CommandService

<h1>Hello, world!</h1>

Welcome to your new app.

<br />
<button type="button" @onclick="async () => await OnButtonPressed()">Press me</button>
<br />

@if (Response == true)
{
    <span style="color: green;">You pressed <b>Yes</b></span>
}
@if (Response == false)
{
    <span style="color: red;">You pressed <b>No</b></span>
}

<br />
<button type="button" @onclick="Count">@Clicks cliks</button>

@code
{
    @using VCHelper.Blazor.Services
    @using System.Threading

    private bool? Response;

    private int Clicks = 0;

    private async Task OnButtonPressed()
    {
        Response = await CommandService.ExecuteCommand<Task<bool>>(
            "ShowAlert",
            "Confirm the action",
            "Press Yes or No to continue",
            "Yes",
            "No");

        StateHasChanged();
    }

    private async void Count()
    {
        while (true)
        {
            Clicks++;
            StateHasChanged();
            await Task.Delay(100);
        }
    }
}
